.title{margin:0 280px auto;}
#nav {
	max-width: 1140px;
  	min-width: 960px;
  	margin: 0 0; /*让元素在页面居中*/
}
#nav li {
	width: 160px;
	
	top:10px;
	margin: 0 0 px;
	position:relative; 
	text-align:center;
	
	display:inline;
}

#nav li a {opacity:0.9;
	color:  white;
	font-size:18px;
	font-style: bolder;
font-weight:bolder;font-family:fangzhengPaper;
	letter-spacing:0.5px;
	width:160px;
	display:block;
	position:relative;
	z-index:20;
	
	text-decoration:none;
}


.inner {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	
	
	font-size: 20px;
	font-family: "Corbel",fangzhenPaper, "Comic Sans MS", cursive, Helvetica, Arial, Verdana, sans-serif;
	font-weight: 300;
	
　
}



.Menu {margin: 0 auto;
	top:-20px;
	position: relative;
	height:40px;;
	z-index: 1000;
	width: 100%;
	
	width: 1800px;
	background:rgba(135,133, 225, 0.7);
	color: rgb(215, 215, 215);
	width: 100%;
}

.Menu .inner {
	
	font-weight: 400;
}

.subNavBtn {
	display: block;
	height: 35px;
	width: 12%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 20px;
	
	text-align: center;
	color: #FFFFFF;
	
}
.content{margin:-10px auto auto;width:80%;}
.font{float:right;color:black;font-family:"Cooper Std";}
.font1{font-weight:300;font-size:30px;}
a:link{color:black;text-decoration:none;font-family:"Cooper Std";}
