html, body { width: 100%; height: 100%; }
/*Bootstrap-overlay*/
body { overflow-x: hidden; margin-top: -10px; font-family: 'Open Sans', sans-serif; font-size: 12px; color: #666; }
a { color: #666; }
:focus { outline: none }
a:hover, a:focus { text-decoration: none; color: #28b779; }
.dropdown-menu .divider { margin: 4px 0px; }
.dropdown-menu { min-width: 180px; }
.dropdown-menu > li > a { padding: 3px 10px; color: #666; font-size: 12px; }
.dropdown-menu > li > a i { padding-right: 3px; }
.userphoto img { width: 19px; height: 19px; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .label, .dropdown-menu, .btn, .well, .progress, .table-bordered, .btn-group > .btn:first-child, .btn-group > .btn:last-child, .btn-group > .btn:last-child, .btn-group > .dropdown-toggle, .alert { border-radius: 0px; }
.btn, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { box-shadow: none; }
.progress, .progress-success .bar, .progress .bar-success, .progress-warning .bar, .progress .bar-warning, .progress-danger .bar, .progress .bar-danger, .progress-info .bar, .progress .bar-info, .btn, .btn-primary { background-image: none; }
.accordion-heading h5 { width: 70%; }
.form-horizontal .form-actions { padding-left: 20px; }
#footer { padding: 10px; text-align: center; }
hr { border-top-color: #dadada; }
.carousel { margin-bottom: 0px; }
.fl { float: left }
.fr { float: right }
.label-important, .badge-important { background: #f74d4d; }
.top-margin-30 { margin-top: 30px; }
/*Metro Background color class*/
.bg_lb { background: #27a9e3; }
.bg_db { background: #2295c9; }
.bg_lg { background: #28b779; }
.bg_dg { background: #28b779; }
.bg_ly { background: #ffb848; }
.bg_dy { background: #da9628; }
.bg_ls { background: #2255a4; }
.bg_lo { background: #da542e; }
.bg_lr { background: #f74d4d; }
.bg_lv { background: #603bbc; }
.bg_lh { background: #b6b3b3; }
body { margin: 0; background-size: cover; padding-top: 2%; }
.html-name{ position:absolute; bottom:0px; right:20px; color:white;}
.html-name font{font-size:14px;}
#logo, #loginbox,.html-name,#logo, #loginbox .ok h3 input{font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";}
#logo, #loginbox{ width: 300px; height: 300px; margin-left: auto; margin-right: auto; position: relative;  }
#logo img { margin: 0 auto; display: block; }
#loginbox { overflow: hidden !important; text-align: left; position: relative; background: #000; min-width: 400px; min-height: 400px; padding: 120px; opacity: 0.8; filter: alpha(opacity=80); border-radius: 400px; border: 2px #111 solid; }
.haveme-form { position: relative; }
.registerform, .lostpasswordform { display: none; position: relative; }
.main_input_box { position: relative }
.main_input_box #pwdmsg, .main_input_box #emailmsg { position: absolute; top: -20px; right: 20px; color: #fff }
.lostpassword_close, .register_close { position: absolute; right: 30px; top: 10px; width: 22px; height: 22px; border-radius: 22px; background: #595959 url("http://127.0.0.1/wp-content/themes/aniee/ui/img/glyphicons-halflings-white.png") no-repeat -308px 4px; cursor: pointer; -webkit-transition: -webkit-transform 1s, opacity 1s, background 1s, width 1s, height 1s, font-size 1s; -o-transition-property: width, height, -o-transform, background, font-size, opacity; -o-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s; -moz-transition-property: width, height, -o-transform, background, font-size, opacity; -moz-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s; transition-property: width, height, transform, background, font-size, opacity; transition-duration: 1s, 1s, 1s, 1s, 1s, 1s; }
.lostpassword_close:hover, .register_close:hover { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg) }
#loginbox h1 a { color: white }
#loginbox h1 a:hover { color: #08c }
#loginbox form { width: 100%; position: relative; top: 0; left: 0; }
#loginbox .form-actions { padding: 14px 20px 15px; }
#loginbox .form-actions .pull-left { margin-top: 0px; }
#loginbox form#loginform { z-index: 200; display: block; }
#loginbox form#recoverform { z-index: 100; display: none; }
#loginbox form#recoverform .form-actions { margin-top: 10px; }
#loginbox .ok { padding: 0 0 20px 0 }
#loginbox .ok h2 { color: #5bb75b; text-align: center; padding: 0; width: 100%; font-size: 20px; line-height: 22px; }
#loginbox .ok h3 { color: #5bb75b; text-align: center; padding: 0; width: 100%; font-size: 15px; line-height: 22px; margin: 0; }
#loginbox .ok h3 input { color: #f60; padding: 5px 10px; border: 0; background: none; font-weight: bold; font-size: 22px; }
#loginbox .ok span { clear: both; text-align: center; padding: 10px 0 10px 150px; color: #ffffff }
#loginbox .main_input_box { margin: 0 auto; text-align: center; font-size: 13px; }
#loginbox .main_input_box .add-on { padding: 9px 9px; *line-height:31px;
color: #fff; width: 30px; display: inline-block; }
#loginbox .main_input_box input { height: 30px; border: 0px; display: inline-block; width: 75%; line-height: 28px; margin-bottom: 3px; }
#loginbox .controls { padding: 0 20px; }
#loginbox .control-group { padding: 10px 0; margin-bottom: 0px; }
.form-vertical, .form-actions { margin-bottom: 0; background: none; border-top: 1px solid #3f4954; }
#loginbox .h2_text { text-align: center; font-size: 33px; }
#loginbox .normal_text { padding: 15px 10px; text-align: center; font-size: 14px; line-height: 20px; color: #fff; }
@media (max-width:800px) {
body { margin: 0; padding-top: 2%; opacity: 0.9; filter: alpha(opacity=90); }
#logo, #loginbox { width: 300px; height: auto; margin-left: auto; margin-right: auto; position: relative; }
#logo img { margin: 0 auto; display: block; }
#loginbox {  min-width: 200px; min-height: 200px; padding: 20px; opacity: 1; filter: alpha(opacity=100); border-radius: 0; border: 0; }
}
@media (max-width: 480px) {
body {  margin-left: -20px;  }
#logo { width: 40%; }
#loginbox { min-width: 260px; }
#loginbox .control-group { padding: 8px 0; margin-bottom: 0px; }
}
