* {
	margin: 0; 
	padding: 0; 
	outline: 0;
}

@font-face {
	font-family: specialFont;
	src: url("../fonts/bobsmade_font_by_Bobsmade.ttf");
}
@font-face {
	font-family: fangzhengPaper;
	src: url("../fonts/fangzhengpaper.ttf");
} 
.PaperFont{
	font-family: fangzhengPaper;
	font-size: 3.2em;
	letter-spacing: 1px;
	text-align: center;
}

body {
	font-family: "Corbel",fangzhengPaper, "Comic Sans MS", cursive, Helvetica, Arial, Verdana, sans-serif;
	color: #999;
	font-size: 12px;
	background:WHITE;


	
}
h10,h11{font-family:fangzhengPaper;}
h10{style:bold;font-weight:250;}h11{font-size:15px;}
h12, h13 {
	font-family: "Corbel",fangzhengPaper, "Comic Sans MS", cursive, Helvetica, Arial, Verdana, sans-serif;
	font-weight: 150;
font-size:20px;
	margin:0 0 15px 0;
}
.poetry{font-family: "Corbel",fangzhengPaper, "Comic Sans MS", cursive, Helvetica, Arial, Verdana, sans-serif;
	font-weight: 150;
font-size:20px;
	margin:0 140px; 15px 0;color:#e9f1f6;z-index:100;}
h12{color:#bacac6;}
h1 {
	font-size: 36px;
	letter-spacing: -2px;
	
}

h1.title {
	font-size: 46px;
	font-weight: 700;
	color: #6a6a6a;

}





#nav {
	max-width: 1140px;
  	min-width: 960px;
  	margin: 0 0; /*让元素在页面居中*/
}
#nav li {
	width: 160px;
	
	top:-20px;
	margin: 0 0 px;
	position:relative; 
	text-align:center;
	
	display:inline;
}

#nav li a {
	color:  #75878a;
	font-size:17px;
	font-style: bolder;
	letter-spacing:0.5px;
	width:160px;
	display:block;
	position:relative;
	z-index:20;
	
	text-decoration:none;
}




.wrap {
		width: 100%;
		max-width: 1140px;
		min-width: 960px;
		z-index: 10;
		position: relative;
		margin: 0 auto;
		
		
}
.fonts{float:left;height:550px;width:1140px;font-size:40px;color:white;font-family:specialFont,fangzhengPaper;opacity:0.6;background:#bbcdc5;margin-top:30px;margin-left:-90px;z-index:1;}
.inner h2{margin-top:380px;
margin-left:-30px;
	font-family: fangzhengpaper;

	color: #4b5cc4;
	font-size: 40px;
	font-weight: bolder;
	letter-spacing: 15px;
	 
}
h3{background: #a1afc9;width:900px;margin-top:-170px;margin-left:-80px;color:#4b5cc4;font-align:center;font-family:fangzhengPaper;font-size:15px;}
h4{
margin-left:-35px;
	font-family: "Microsoft Yahei";

	color: #4b5cc4;
	font-size: 15px;
	font-weight: bolder;
	letter-spacing: 15px;
	 }
.section {
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	
	
	font-size: 20px;
	font-family: "Corbel","fangzhenPaper", "Comic Sans MS", cursive, Helvetica, Arial, Verdana, sans-serif;
	font-weight: 300;
	
　
}



.Menu {margin: 0 auto;
	top: 560px;left:2px;
	position: relative;
	height:40px;;
	z-index: 1000;
	width: 100%;
	
	width: 1600px;
	background: rgba(187,205,197,0.7);
	color: rgb(215, 215, 215);
	width: 100%;
}

.Menu .inner {
	
	font-weight: 400;
}

.subNavBtn {
	display: block;
	height: 35px;
	width: 12%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 20px;
	
	text-align: center;
	color: #FFFFFF;
	
}

.end {
	margin: 0;
}



/* SECTIONS */
.sTop {
	min-height: 560px;
	background: #f0f8ff;
	background-image: url('../images/剪纸学/bg8.png');
	background-size: 100%;
	background-position: 50%;
	background-repeat: repeat-x;
	color: #000000;
	align: center;
}


.s1 {
	min-height: 580px;
	background: #FFF url('../images/剪纸学/bg10.png');
	background-position: 50%;
	background-size: 130%;
	background-repeat: no-repeat;
position:relative;
top:10px;
}

.s2 {
	min-height:580px;
	background:white;background-opacity:0.9;
	background-size: 100%;
	background-position: 50%;
	background-repeat: no-repeat;position:relative;
}


.s3 {
	min-height: 580px;
	background: #e0f0e9;
	background-size: 100%;
	background-position: -50%;
background-repeat: repeat-x;position:relative;top:10px;

}


.s4 {
	min-height: 580px;
	background: url('../images/bg/bg4.jpg');
	color: white;position:relative;top:10px;
}

.s5 {
	min-height: 580px;
	background: url('../images/蝶！.png');
	color: white;
background-size: 100%;
background-repeat: no-repeat;
}
.butterfly{position:absolute;height:300px;top:300px;z-index:-1;}
.font5{font-family:fangzhengPaper;position:absolute;top:330px;left:260px;font-size:80px;z-index:1;}

.one {
	width:100%;
	height:0px;
}
#backtotop {
	background:url('../images/rocket_up.png') 0px 0px no-repeat;
	position:fixed;
	bottom:0px;
	right:10px;
	width:149px;
	height:260px;
	cursor: pointer;
    z-index: 100;
}
.flash{width:600px;height:300px;position:relative;top:60px;left:30px;}
.flash image{minwidth:200px;}
.font{float:right;}
.font1{float:left;}
.font2{float:left;margin-left:100px;margin-right:100px;text-align:middle;font-size:100px;font-weight:200;font-family:fangzhengPaper;}
/*--------------------------- Content --------------------------*/

/* Slicebox Style */
.sb-slider{ 
	margin:0 470px auto;
	position:relative;
}
.sb-slider img{);
	
}
.sb-nav span{
	width:42px;
	height:42px;
	background:#f0f0f4 url(../images/nav.png) no-repeat top left;
	position:absolute;
	top:50%;
	left:-50px;
	text-indent:-9000px;
	cursor:pointer;
	margin-top:-21px;
	opacity:0.9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px 3px 3px 3px;
}
.sb-nav span.sb-nav-next{
	left:auto;
	right:-50px;
	background-position:top right;
}
.sb-nav span:hover{
	opacity:1.0;
}
.sb-options{
	width:65px;
	height:30px;
	position:absolute;
	right:4px;
	bottom:4px;
	z-index:20;
}
.sb-options span{
	width:30px;
	height:30px;
	background:#28241f url(../images/options.png) no-repeat top left;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.9;
	margin-right:3px;
	float:left;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px 3px 3px 3px;
}
.sb-options span.sb-nav-play{
	background-position:-30px 0px;
}
.sb-options span.sb-nav-info{
	background-position:-60px 0px;
	margin:0;
}
.sb-options span.sb-nav-noinfo{
	background-position:-90px 0px;
	margin:0;
}
.sb-side {
  margin:0;
  display: block;
  position: absolute;
  -webkit-transform-style: preserve-3d;
}
.sb-shadow{
  position:absolute;
  bottom:-70px;
  left:50%;
  margin-left:-368px;
  background:transparent url(../images/shadow.png) no-repeat top left;
  height:168px;
  width:736px;
  z-index:1;
}
.sb-title{
	color: white;
	bottom: 0px;
	position: absolute;
	z-index: 15;
	background: black;
	height: 0px;
	width: 100%;
	left:0px;
	overflow:hidden;
	opacity:0.8;
}
.sb-title span{
	font-size: 18px;
	font-family: "Microsoft Yahei";
	font-weight: 400;
	font-style: italic;
	line-height: 38px;
	display:block;
	padding:0 20px;
}
/* Fallback Style */
.sb-slider-fb-wrapper{
	overflow:hidden;
}
.sb-slider-fb img{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
}
/* Message */
#sb-note{
	font-size:18px;
	padding: 10px;
}
#sb-note span{
	background: #e0bb84;
	padding: 5px 10px;
}
