body {
	font: 18px/30px Sans-serif; color: #fff;
}

section {
	overflow: hidden; height: 993px;
}

#intro { 
	background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; 
}

	#intro h1 {
		width: 858px; height: 161px;
		background: url(images/intro-title.png); text-indent: -9999px;
		position: relative; top: 145px; left: 0;
	}

	#intro p {
		position: relative; top: 200px; left: 350px;
		width: 508px; margin: 0 0 30px 0;
	}
	#intro p:nth-child(2) {
		font-weight: bold;
	}

#dragon{
	background: #c3c2c1 url(images/bg-tile-dark.png) left no-repeat; 

}

#fu{
	background: #c3c2c1 url(images/background.jpg) left no-repeat;
}


#cs ul li {
		float: left; box-shadow: 0 0 20px rgba(0,0,0,0.5); line-height: 0;
		position: absolute; list-style: none;
	}
		#cs ul li:nth-child(1) {
			top: 640px; left: 100px;
			transform: rotate(10deg);
			-moz-transform: rotate(10deg);
			-webkit-transform: rotate(10deg);
			z-index: 1;
		}
		#cs ul li:nth-child(2) {
			top: 600px; left: 420px;
			transform: rotate(-5deg);
			-moz-transform: rotate(-5deg);
			-webkit-transform: rotate(-5deg);
			z-index: 3;
		}
		#cs ul li:nth-child(3) {
			top: 680px; left: 570px;
			transform: rotate(-2deg);
			-moz-transform: rotate(-2deg);
			-webkit-transform: rotate(-2deg);
			z-index: 2;
		}

