<style>
    html {
      height: 90%;weight:80%;
    }
@font-face {
	font-family: fangzhengPaper;
	src: url("../fonts/fangzhengpaper.ttf");
} 
    body {
      background:url("../images/¼ôÖ½Ñ§/bg9.png");
      padding: 0;
      text-align: center;
      font-family: 'Open Sans'£¬fangzhengPaper;
      position: relative;
      margin: 0;
      height: 100%;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizelegibility;
    }
    
    a {
      color: black;
    }
    
    .header {
      padding: 10px 0 0;
      float: left;
      width: 100%;
      background:white;
    }
    
    .wrapper {
    	height:50px;
    	height: 100%;
    	margin: 0 auto; 
    	overflow: hidden;
    }
    
    a {
      text-decoration: none;
    }
    
    
    h1, h2 {
      width: 100%;
      float: left;
    }
    h1 {
      margin-top: 0px;
      color: #999;
      margin-bottom: 5px;
      font-size: 70px;
      font-weight: 100;
    }
    h2 {
      padding: 00px 20px 30px 20px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      letter-spacing: 0px;
      color: #888;
      font-size: 20px;
      line-height: 160%;
      font-weight: 100;
      margin-top: 10px;
      margin-bottom: 0;
    }
    
    
    .pointer {
      color: #00B0FF;
      font-family: 'Pacifico';
      font-size: 24px;
      margin-top: 15px;
      position: absolute;
      top: 130px;
      right: -40px;
    }
    .pointer2 {
      color: #00B0FF;
      font-family: 'Pacifico';
      font-size: 24px;
      margin-top: 15px;
      position: absolute;
      top: 130px;
      left: -40px;
    }
    pre {
      margin: 80px auto;
    }
    pre code {
      padding: 35px;
      border-radius: 5px;
      font-size: 15px;
      background: rgba(0,0,0,0.1);
      border: rgba(0,0,0,0.05) 5px solid;
      max-width: 500px;
    }


    .main {
      float: left;
      width: 100%;
      margin:0 auto;
    }
    
    
    .main h1 {
      padding:10px 10px 10px;
      float: left;
      width: 100%;
      font-size: 40px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      font-weight: 100;
      
      padding-top: 10px;
      font-family: 'Open Sans',fangzhengPaper;
      letter-spacing: -1px;
      text-transform: capitalize;
    }
   
    .main h1.demo1 {
      background: #1ABC9C;
    }
    
    .reload.bell {
      font-size: 12px;
      padding: 20px;
      width: 45px;
      text-align: center;
      height: 47px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
    }
    
    .reload.bell #notification {
      font-size: 25px;
      line-height: 140%;
    }
    
    .reload, .btn{
      display: inline-block;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      display: inline-block;
      line-height: 100%;
      padding: 0.7em;
      text-decoration: none;
      width: 100px;
      line-height: 140%;
      font-size: 17px;
      font-family: Open Sans;
      font-weight: bold;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: #4D90FE;
      background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
      background-image: linear-gradient(top,#4d90fe,#4787ed);
      border: 1px solid #3079ED;
      color: #FFF;
    }
    .reload:hover{
      background: #317af2;
    }
    .btn {
      width: 200px;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: #4D90FE;
      background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
      background-image: linear-gradient(top,#4d90fe,#4787ed);
      border: 1px solid #3079ED;
      color: #FFF;
    }
    .clear {
      width: auto;
    }
    .btn:hover, .btn:hover {
      background: #317af2;
    }
    .btns {
      width: 410px;
      margin: 50px auto;
    }
    .credit {
      text-align: center;
      color: #888;
      padding: 10px 10px;
      margin: 0 0 0 0;
      background: #f5f5f5;
      float: left;
      width: 100%;
    }
    .credit a {
      text-decoration: none;
      font-weight: bold;
      color: black;
    }
    
    .back {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      display: block;
      padding: 7px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background:#f5f5f5;
      font-weight: bold;
      font-size: 13px;
      color: #888;
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out;
    }
    .back:hover {
      background: #eee;
    }
  
    
    .page-container {
      max-width: 1010px;
      margin: auto;
      position: relative;
    }
    
    .page-container p{
      font-size: 21px;
      font-weight: 100;
      line-height: 180%;
    }
    
    .page-container h3 {
      font-family: "noto serif";
      font-size: 23px;
    }

    .tip {
      display: none;
    }

    .tc_modal {
      width: 890px;
    }
    
    .tc_body .tc_card .tc_inner_card .tc_click_target {
      font-size: 1.25em;
      color: #888;
      line-height: 25px;
      font-weight: 300;
      text-align: left;
      padding: 30px 30px 30px 30px;
    }
    
    .tc_card:nth-child(1n+1) .tc_inner_card  {
      border-bottom: 3px solid #1345ED;
    }
    
    .tc_card:nth-child(2n+2) .tc_inner_card  {
      border-bottom: 3px solid #03A010;
    }
    
    .tc_card:nth-child(3n+3) .tc_inner_card  {
      border-bottom: 3px solid #F8B00F;
    }
    
    .tc_card:nth-child(4n+4) .tc_inner_card {
      border-bottom: 3px solid #DD4330;
    }
    
    
    .tc_back p {
      font-family: Open Sans, sans-serif;
      font-weight: 300;
      padding: 50px 20px 20px;
      margin: 0 0 10px 0;
      color: #8A8C93;
      color: #777;
      letter-spacing: -1.2px;
      font-size: 3.5625em;
      line-height: 72px;
      text-align: left;
    }
    .tc_inner_modal .tc_front {
      min-height: 300px;
    }
    
    .tc_inner_modal .tc_front h1 {
      margin-top: 20px;
      font-size: 32px;
      text-align: left;
      margin-bottom: 35px;
    }
    
    .tc_inner_modal .tc_front p {
      text-align: left;
      min-height: 70px;
      font-size: 24px;
      line-height: 180%;
    }
    .tc_next, .tc_prev {
      line-height: 90%;
    }
    .tc_inner_modal {
      margin: 40px;
    }
    
	.ti{top:70px;position:absolute;z-index:1000;left:110px;}
.tc_body {
  width: 100%;
  float: left;
  padding: 0;
}

.tc_card {
  float: left;
  list-style: none;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.tc_inner_card .tc_shadow {
  background-image: -moz-linear-gradient(right, rgba(0,0,0,0.16) 0%, rgba(0,0,0,0.01) 100%);
  background-image: -o-linear-gradient(right, rgba(0,0,0,0.16) 0%, rgba(0,0,0,0.01) 100%);
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.01) 100%);
  background-image: linear,right,rgba(0,0,0,0.16) 0%,rgba(0,0,0,0.01) 100%;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.tc_inner_card:hover .tc_shadow {
  opacity: 1;
}

.tc_modal {
  max-width: 890px;
  position: fixed;
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  -moz-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  -o-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
}

.tc_inner_modal {
  margin: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  -moz-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  -o-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
}

.tc_overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 99;
}

.tc_modal_open {
  overflow: hidden;
}

.tc_main_modal {
  z-index: 105;
  top: -100%;
  display: block;
  visibility: hidden;
}

.tc_modal.tc_straighten {
  -webkit-transform: rotate(0);
  -moz-transform:  rotate(0);
  -o-transform:  rotate(0);
  transform:  rotate(0);
}


.tc_to_top {
  -webkit-transform: rotate(-45deg);
  -moz-transform:  rotate(-45deg);
  -o-transform:  rotate(-45deg);
  transform:  rotate(-45deg);
  top: -200%;
  z-index: 101;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.tc_to_bottom {
  -webkit-transform: rotate(45deg);
  -moz-transform:  rotate(45deg);
  -o-transform:  rotate(45deg);
  transform:  rotate(45deg);
  -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  top: 200%;
  z-index: 102;
}

.tc_to_bottom.force {
  top: 200% !important;
}

.tc_to_left {
  -webkit-transform: rotate(-45deg);
  -moz-transform:  rotate(-45deg);
  -o-transform:  rotate(-45deg);
  transform:  rotate(-45deg);
  -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  left: -200%;
  z-index: 103;
}

.tc_to_right {
  -webkit-transform: rotate(45deg);
  -moz-transform:  rotate(45deg);
  -o-transform:  rotate(45deg);
  transform:  rotate(45deg);
  -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  left: 200%;
  right: auto;
  z-index: 104;
}

body .tc_flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.tc_front, .tc_back {
	-webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

body .tc_front {
	font-family:fangzhengPaper;z-index: 2;
	-webkit-transform: rotateY(0deg);
	-webkit-transform: translate3d(0, 0, 0);
}

body .tc_back {
	-webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #FFF;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*Chrome Flicker Hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  body .tc_inner_card {
    transform-style: flat ;
    -webkit-transform-style: flat;
    -moz-transform-style: flat;
    -o-transform-style: flat;
  }
  body .tc_flipped {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
  }
}

.tc_inner_card {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  
  -webkit-transform: perspective(2200px) translate(0, 0);
  -moz-transform: perspective(2200px) translate(0, 0);
  -ms-transform: perspective(2200px) translate(0, 0);
  -o-transform: perspective(2200px) translate(0, 0);
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  -moz-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  -o-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
}

.tc_click_target {
  padding: 10px;
  display:block;
}

.tc_close {
  z-index: 110;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  font-weight: 100;
  line-height: 100%;
}

.tc_flip_toggle {
  z-index: 110;
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 24px;
  font-weight: 100;
  line-height: 100%;
}

.tc_inner_card > * {
  position: relative;
}

.tc_entrance.tc_next {
  right: -100px;
  opacity: 0;
}

.tc_entrance.tc_prev {
  left: -100px;
  opacity: 0;
}

.tc_next, .tc_prev {
  position: fixed;
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  color: #333;
  font-size: 44px;
  line-height: 100%;
  border-radius: 50px;
  display: block;
  width: 48px;
  padding: 10px;
  height: 48px;
  top: 50%;
  margin-top: -24px;
  opacity: 1;
  z-index: 105;
  -webkit-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  -moz-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  -o-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
}

.tc_next {
  right: -24px;
  text-indent: -16px;
}

.tc_prev {
  left: -24px;
  text-indent: 16px;
}

.tc_card.animate {
  -webkit-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  -moz-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  -o-transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
  transition: all 500ms cubic-bezier(0.1, 0.1, 0.41, 0.99);
}

.tc_inner_card:hover {
  -webkit-transform: perspective(2200px) rotateY(25deg);
  -moz-transform: perspective(2200px) rotateY(25deg);
  -ms-transform: perspective(2200px) rotateY(25deg);
  -o-transform: perspective(2200px) rotateY(25deg);
  transform: perspective(2200px) rotateY(25deg);
}


.tc_inner_card.tilt_left:hover {
  -webkit-transform: perspective(2200px) rotateY(-25deg);
  -moz-transform: perspective(2200px) rotateY(-25deg);
  -ms-transform: perspective(2200px) rotateY(-25deg);
  -o-transform: perspective(2200px) rotateY(-25deg);
  transform: perspective(2200px) rotateY(-25deg);
}

.tc_inner_card.tilt_up:hover {
  -webkit-transform: perspective(2200px) rotateX(25deg);
  -moz-transform: perspective(2200px) rotateX(25deg);
  -ms-transform: perspective(2200px) rotateX(25deg);
  -o-transform: perspective(2200px) rotateX(25deg);
  transform: perspective(2200px) rotateX(25deg);
}

.tc_inner_card.tilt_down:hover {
  -webkit-transform: perspective(2200px) rotateX(-25deg);
  -moz-transform: perspective(2200px) rotateX(-25deg);
  -ms-transform: perspective(2200px) rotateX(-25deg);
  -o-transform: perspective(2200px) rotateX(-25deg);
  transform: perspective(2200px) rotateX(-25deg);
}


.tc_entrance_bottom {
  -webkit-animation-name: tc_entrance_bottom;
  animation-name: tc_entrance_bottom;
}

@-webkit-keyframes tc_entrance_bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes tc_entrance_bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.tc_entrance_top {
  -webkit-animation-name: tc_entrance_top;
  animation-name: tc_entrance_top;
}


@-webkit-keyframes tc_entrance_top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes tc_entrance_top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}


.tc_entrance_left {
  -webkit-animation-name: tc_entrance_left;
  animation-name: tc_entrance_left;
}


@-webkit-keyframes tc_entrance_left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes tc_entrance_left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}


.tc_entrance_right {
  -webkit-animation-name: tc_entrance_right;
  animation-name: tc_entrance_right;
}


@-webkit-keyframes tc_entrance_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes tc_entrance_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
