* {
	margin: 0; 
	padding: 0; 
	outline: 0;
}

body {
	font-family: "Microsoft Yahei", "Comic Sans MS", cursive, Helvetica, Arial, Verdana, sans-serif;
	color: #999;
	font-size: 12px;
	background: #979090;

	
}

h1, h2 {
	font-family: "Microsoft Yahei", "Comic Sans MS", cursive, Helvetica, Arial, Verdana, sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
}


h1 {
	font-size: 36px;
	letter-spacing: -2px;
	line-height: 100%;
}

h1.title {
	font-size: 46px;
	font-weight: 700;
	color: #6a6a6a;

}

#nav {
	max-width: 1140px;
  	min-width: 960px;
  	margin:20px auto 0; /*让元素在页面居中*/
}
#nav li {
	width: 150px;
	height: 35px;
	float: left;
	margin:0 2px;
	position:relative; /*li标签相对定位*/
	text-align:center;
	z-index:5;
	display:inline;
}
#nav li span {
	color:#FFFF80;
	width:150px;
	letter-spacing: 1px;
	background: url(images/nav_bg.png) no-repeat 0 0;/*滑动背景添加到span标签中*/
	position:absolute; /*span标签绝对定位*/
	top:10; left:0;
	z-index:10;/*span标签要在a标签的下面，所以层叠顺序要小于a标签的层叠顺序*/
	font-size:18px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
	text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
	height:60px;
	padding-top:30px;
	display:none;/*在默认状态下span标签是隐藏的*/
}
#nav li a {
	color:rgba(38, 38, 38, 0.7);
	font-size:20px;
	font-style: bold;
	letter-spacing:0.5px;
	width:150px;
	display:block;
	position:absolute;/*a标签也同样需要绝对定位*/
	top:0; left:0;
	z-index:20;/*但是a标签的层叠顺序应该是大于span标签的，这样才能确保a标签不被span标签遮盖住*/
	height:35px;
	padding-top:55px;
	text-decoration:none;
}

h2 {
	font-size: 24px;
}

p {
	margin: 0 0 15px 0;
}



.active {
	display: block;
	width: 88px;
	height: 50px;
	position: absolute;
	top: 0;
	z-index: -1;
	transition: 0.40s ease-out;
	background: #CC1313 url(images/light.png);
	color: #4169e1	; 
	filter:alpha(opacity=40); 
	opacity:0.4;
}
.wrap {
		/*background:url(../images/bg.png) top left repeat-x;*/
		width: 100%;
		max-width: 1140px;
		min-width: 960px;
		z-index: 10;
		position: relative;
		margin: 0 auto;
		padding: 0;
		border: 2px;
　　		border-radius: 15px;

}



.section {
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: "Microsoft Yahei", "Comic Sans MS", cursive, Helvetica, Arial, Verdana, sans-serif;
	font-weight: 300;
	padding:30px 0;
　　border-radius: 15px;
}


.Menu {
	position: absolute;
	height: 0;
	z-index: 1000;
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	background: rgba(175, 55, 55, 0.7);
	color: rgb(215, 215, 215);
	width: 100%;
}

.Menu .inner {
	padding:0;
	font-weight: 400;
}

.subNavBtn {
	display: block;
	height: 35px;
	width: 12%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	color: #FFFFFF;
	border: 2px;
	border-radius: 10px;
}

.end {
	margin: 0;
}


/* SECTIONS */
.sTop {
	min-height: 630px;
	background: #f0f8ff;
	background-image: url('../images/dragon0.png');
	background-size: 70%;
	background-position: 50%;
	background-repeat: no-repeat;
	color: #000000;
	
}



.s1 {
	min-height: 500px;
	background: #FFF url('../images/bg-tile.png');
}


.s2 {
	min-height: 500px;
	background: #fff;
}


.s3 {
	min-height: 500px;
	background: #504f4f;
}


.s4 {
	min-height: 500px;
	background: #6e87a1;
	color: white;
}

.s5 {
	min-height: 500px;
	background: #293b4d;
	color: white;
}


.returnTop {
    position: fixed;
    _position: absolute;
    right: 10px;
    bottom: 200px;
    _bottom: auto;
    display: none;
    width: 40px;
    height: 40px;
    border: 1px solid #61b72e;
    border-radius:4px;
    background: #fff;
    box-shadow: 0 0 5px #F5F5F5;
    text-indent: -9999px;
    cursor: pointer;
}
.returnTop .s {
    position: absolute;
    top: -2px;
    _top: -20px;
    left: 10px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: transparent transparent #61b72e;
    border-style: dashed dashed solid;
}
.returnTop .b {
    position: absolute;
    top: 18px;
    left: 16px;
    height: 12px;
    width: 8px;
    background: #61b72e;
}

.leaves{
	font-family: "Microsoft Yahei", "Comic Sans MS", cursive, Helvetica, Arial, Verdana, sans-serif;
	color: #999;
	font-size: 12px;
	background: #979090;
	z-index: 100;
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
}
